soap/server-soap/src/main/resources/game.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.xmlsoap.org/soap"
           elementFormDefault="qualified">

    <xs:element name="GetRequest"/>

    <xs:element name="getGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="date" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>